*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 1280px;
/*  min-height: 2762px;*/
  margin: 0;

  font-family: "PT Sans","Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation, .reasons-list, .sedona-recomendations, .social-buttons li {
list-style: none;
}

a {
  text-decoration: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-page a,
.current-page a:hover,
.current-page a:focus,
.current-page a:active {
  color: #766357;
}


.main-navigation {
  font-size: 14px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.about-sedona {
  font-size: 21px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.about-sedona h2 {
  font-size: 14px;
  font-weight: normal;
  color: #333333;

  background-color: #ffffff;
}

.background-sedona {
  background-color: #6CA2CA;
}

.reasons-and-recomendations {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.reasons-and-recomendations b {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color:#000000;

  background-color: #ffffff;
}

/*правильно ли ниже и почему фон бэшки вылез за рамки ? из за того , что другой размер шрифта, по сравнению с p ?! */

.special-item, .special-item b {
  color: #ffffff;

  background-color: #82B5D3;
}

.booking {
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  background-color: #ffffff;
}

.booking b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;

    background-color:#ffffff;
}

.button-search {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
}


.button-search:hover,
.button-search:focus {
  color: #ffffff;

  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-submit {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ffffff;

  background-color: #81b3d2;
}

.button-submit:hover,
.button-submit:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-searching {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.hotel-searching-item ::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  /*Пойдет лично каждому:
  padding-left: 13px;
  */
  color: #000000;

  background-color: #F2F3F3;
}

.hotel-searching-item ::-moz-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.hotel-searching-item :-moz-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.hotel-searching-item :-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.main-footer {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.visitsedona a {
  color: #000000;
}

.social-buttons a {
  color: #000000;

  background-color:  #82b3d2;
}

.social-buttons a:hover,
.social-buttons a:focus {
  color: #000000;

  background-color: #669FC2;
}

.social-buttons a:active {
  color: #89B8D2;

  background-color: #5397BE;
}

/*Вторая страница*/

.hotels-list li {
  list-style: none;
}

.hotels-list h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.hotels-list h1:hover,
.hotels-list h1:focus {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #81b3d2;

  background-color: #ffffff;
}

.hotels-list h1:active {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.hotel-rating p {
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-type a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #82B5D3;
}

.hotel-type a:hover,
.hotel-type a:focus {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #669ec0;
}

.hotel-type a:active {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-accepting a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color:#766357;
}

.hotel-accepting a:hover,
.hotel-accepting a:focus {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #604e43;
}

.hotel-accepting a:active {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

/*сетки*/


.container {
  width: 1200px;
  margin: 0 40px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/*навигация и логотип*/
.main-header-logo {
  position: absolute;
  top: 0;
  left: 570px;
  /*как правильно поставить в центр ?*/
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
  min-height: 56px;
  margin: 0;/*иначе отступы*/
  padding: 0;
  text-align: center;
  align-items: center;/*почему сжимается сам контейнер, как выровнять текст по центру ???*/
}

.site-navigation li {
  width: 239px;
}

.site-navigation li:nth-child(2) {
  margin-right: 244px;
}

/*подвал*/
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 120px;
}

.main-footer div {
  width: 400px;
}

.social-buttons {
  display: flex;
  width: 150px;
 /*иначе отступы*/
  padding: 0;
  margin: 0;
  min-height: 48px;
}

.social-buttons li {
  width: 46px;
  color: #ffffff;
  background-color: #82b3d3;
  margin-left: 6px;
}

.social-buttons li:nth-child(1) {
  margin-left: 0;
}

/*Правильно ли здесь ?*/
.social-twitter img, .social-youtube img{
margin-top: 16px;
}

.social-facebook img {
  margin-top: 13px;
}
/*знакомство с седоной*/

.about-sedona {
  display: flex;
  flex-direction: column;
}

.copyrights {
  /*как поменять цвет логотипу??*/
}

/* Первый Section*/
.background-sedona {
  min-height: 508px;
  background-image: url("../img/polygon.svg"), url("../img/background-sedona.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 -82px;
  margin-bottom: 61px;
  text-align: center;
  padding-top: 76px;

}

.about-sedona p {
  width: 440px;
  margin: auto;
  margin-bottom: 38px;
  text-align:center;
}
.about-sedona h2 {
  width: 489px;
  margin: auto;
  margin-bottom: 61px;
}

/* Второй section*/

.sedona-recomendations {
  display: flex;
  padding: 0;
  min-height: 330px;
}

.reasons-list {
  padding: 0;/*иначе отступы*/
  margin: 0;
}

.recomendation-item:nth-child(1) {
  width: 252px;
  min-height: 84px;
  margin-left: 73px;
}

.house::before {
  content: url("../img/house.svg");
  width:75px;
  min-height:72px;
  margin-bottom: 29px; /*Как расположить над элементом ???*/
}
.recomendation-item:nth-child(2) {
  width: 284px;
  margin-left: 133px;
}

.food::before {
  content: url(../img/hamburger.svg);
  width: 74px;
  min-height: 70px;
  margin-bottom: 32px;
}

.recomendation-item:nth-child(3) {
  width: 273px;
  margin-left: 122px;
}

.souvenir::before {
  content: url(../img/souvenir.svg);
  width: 64px;
  min-height: 76px;
  margin-bottom: 32px;
}

.recomendation-item {
  margin-top: 161px;
  margin-bottom: 86px;
  text-align: center;
}

.reasons-container {
  display: flex;
  padding: 0;
  min-height: 256px;
  background-color: #eeeeee;
  text-align: center;
  align-items: center;
}


.reasons-container *{
  padding: 0;
  margin: 0;
}

.special-item-container * {
  padding: 0;
  margin: 0;
}

.reasons-list * {
  outline: 1px solid blue;
}

.reasons-container li:nth-child(1) {
  width: 208px;
  min-height: 142px;
  margin-left: 95px;
}

.reasons-container li:nth-child(2) {
  width: 262px;
  min-height: 142px;
  margin-left: 166px;
}

.reasons-container li:nth-child(3) {
  width: 246px;
  min-height: 142px;
  margin-left: 146px;
}

.reasons-container b {
  background-color: #eeeeee;
}

.reason-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 1px solid red;
}

.reason-number {
margin: auto;
}

.special-item-container {
  display: flex;
}

.special-item {
  width: 400px;
  min-height: 256px;
  align-items: center;
}

.background-bridge {
  background-image: url("../img/background-bridge.jpg");
  background-repeat: no-repeat;
  background-position: 0 -76px;
  width: 800px;
  min-height: 256px;
  background-color: #82B5D3;
}

.background-city {
  background-image: url("../img/background-city.jpg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 0 0; /*Как сместить картинку вправо без отступа слева ??*/
  width: 800px;
  min-height: 256px;
  background-color: #82B5D3;
}

.reasons-and-recomendations {
  margin-bottom: 57px;
}
/*Третий section*/

.booking * {
    outline: 1px solid red;
    margin: 0px;
    padding: 0px;
}

.booking {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 764px;
  text-align: center;
  align-items: center;
}

.booking-container {
  width: 434px;
  min-height: 96px;
  margin-bottom: 52px;
  text-align: center;
}

.button-search {
  width: 568px;
  min-height: 86px;
  text-align: center;
}
/*
.form-container {
  display: flex;
  flex-direction: column;
  width: 568px;
  outline: 1px solid red;
}

.form-container:nth-child(1) {
  min-height: 38px;
  margin: 55px 55px 29px 55px;
  align-items: center;
  text-align: center;
}

.form-container:nth-child(2) {
  min-height: 38px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom:30px;
}
/*
.hotel-searching-item:nth-child(3) {
  margin-bottom: 54px;
}
.hotel-searching-item:nth-child(4) {
  margin-bottom: 54px;
}
*/
.hotel-searching {
  width: 568px;
}

.hotel-searching p:nth-child(1) {
  min-height: 38px;
  margin: 55px 55px 29px 55px;
}

.hotel-searching p:nth-child(2) {
 min-height: 38px;
 margin: 0 55px 30px 55px ;
}

.special-searching-items {
  display: flex;
  min-height: 38px;
  margin-bottom: 54px;
  white-space: nowrap;
  background-color: yellow;
}


.button-submit {
  width: 458px;
  min-height: 58px;
  margin-bottom: 55px;
}

.booking {
  margin: 0;
  padding: 0;
}

* {
  outline: 1px solid black;
}
