*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  margin: 0;

  font-family: "PT Sans","Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation, .reasons-list, .sedona-recomendations, .social-buttons li {
list-style: none;
}

a {
  text-decoration: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-page a,
.current-page a:hover,
.current-page a:focus,
.current-page a:active {
  color: #766357;
}


.main-navigation {
  font-size: 14px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.about-sedona {
  font-size: 21px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.reasons-and-recomendations h2 {
  font-size: 14px;
  font-weight: normal;
  color: #333333;

  background-color: #ffffff;
}

.background-sedona {
  background-color: #6CA2CA;
}

.reasons-and-recomendations {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.reasons-and-recomendations b {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.special-item {
  color: #ffffff;

  background-color: #82B5D3;
}

.booking {
  font-size: 14px;
  line-height: 24px;
  color: #333333;

  background-color: #ffffff;
}

.booking b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;

    background-color:#ffffff;
}

.button-search {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;

  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-submit {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ffffff;

  background-color: #81b3d2;
}

.button-submit:hover,
.button-submit:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-searching {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.hotel-searching-item ::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.hotel-searching-item ::-moz-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.hotel-searching-item :-moz-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.hotel-searching-item :-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000000;

  background-color: #F2F3F3;
}

.main-footer {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.visitsedona a {
  color: #000000;
}

/* пока добавляю свг !!!!!!!!!!!!
.social-buttons a {
  color: #000000;

  background-color:  #82b3d2;
}

.social-buttons a:hover,
.social-buttons a:focus {
  color: #000000;

  background-color: #669FC2;
}

.social-buttons a:active {
  color: #89B8D2;

  background-color: #5397BE;
}

/*Вторая страница*/

.hotels-list li {
  list-style: none;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.hotel-name a:hover,
.hotel-name a:focus {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #81b3d2;

  background-color: #ffffff;
}

.hotel-name a:active {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.hotel-rating p {
  font-size: 14px;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-type a {
  font-size:14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #82B5D3;
}

.hotel-type a:hover,
.hotel-type a:focus {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #669ec0;
}

.hotel-type a:active {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-accepting a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color:#766357;
}

.hotel-accepting a:hover,
.hotel-accepting a:focus {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  background-color: #604e43;
}

.hotel-accepting a:active {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}


/*сетки*/

.container {
  width: 1200px;
  margin: 0 auto;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/*навигация и логотип*/
.main-navigation {/*Для того ,чтобы не ездил логотип*/
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;/*Для того,чтобы при добавлении элементов в меню на нижнюю строку, логотип был над этой строкой*/
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: block;
  min-width: 240px;
  padding: 15px 0px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 240px;
}

/*Первый Section: Welcome to Sedona*/

.background-sedona {
  min-height: 508px;
  background-image: url("../img/polygon.svg"), url("../img/background-sedona.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 -82px;
  margin-bottom: 61px;
  text-align: center;
  padding-top: 76px;
}

.about-sedona p {
  display: block;
  width: 440px;
  text-align: center;
  margin: 0 auto 30px auto;
}

/*Footer*/

.main-footer {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
}

.main-footer div {
  width: 400px;
  text-align: center;
}

.visitsedona {
  padding-top: 48px;
}

.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrights p {
  display: block;
  margin: 0;
  position: relative;
  padding: 45px 125px 45px 0;
}


.company-logo {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  left: 84px;
}


.company-logo:hover path,
.company-logo:focus path {
  fill: #81b3d2;
}

.company-logo:active path {
  fill: #bdbbbc;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 0;
  padding-top: 5px;
}

.social-button {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  align-items: center;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #89B8D2;
}


/*Преимущества и Достопримечательности*/

.reasons-list, .sedona-recomendations {
  margin: 0; /*Убрал все отступы у списков этого блока*/
  padding: 0;
}

.reasons-and-recomendations {
  text-align: center;
  margin-bottom: 57px;
}

.reasons-and-recomendations h2 {
  margin-bottom: 53px;
}

.reasons-list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.sedona-recomendations {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.recomendation-item {/*li-шки в sedona-recomendations*/
  width: 400px;
  padding: 60px 20px ;
}

.recomendation-item b{
  display: block;
  position: relative;
  width: 160px;
  margin: 0 auto 24px auto;
  padding-top: 101px;
}

.recomendation-item p {
  display: block;
  width: 290px;
  margin: auto;
  margin-bottom: 21px;
}

.reason-item {/*li- шки в reasons-list*/
  width: 400px;

  padding-bottom: 64px;
}

.reason-item {
  background-color: #eeeeee;
}

.special-item>.reason-item {
  background-color: #81b3d2;
}

.reason-item b {
  display: block;
  width: 160px;
  margin: 0 auto 26px auto;
}

.reason-item p {
  display: block;
  width: 310px;
  margin: auto;
  margin-bottom: 13px;
  /*letter-spacing: 0.02px;*/
}

.special-item {
  display: flex;
  width: 1200px;
}

.reason-item {

  padding: 46px 40px;
  order: 1;
}

.special-item b {
  display: block;
  width: 160px;
  margin: 0 auto 25px auto;
}

.background-city {
  width: 800px;
  height: 256px;
  background-image: url("../img/background-city.jpg");
  order: 1;
}

.background-bridge {
  width: 800px;
  height: 256px;
  background-image: url("../img/background-bridge.jpg");
  background-position: 0 -76px;
  order: 0;
}

.reason-number {
  display: block;
  margin-bottom: 20px;
}

.house::before {
  content:"";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
  width: 75px;
  height: 72px;
  background-image: url("../img/house.svg");
}

.food::before {
  content:"";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 70px;
  background-image: url("../img/hamburger.svg");
}

.souvenir::before {
  content:"";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -5px;
  margin-left: -32px;
  width: 64px;
  height: 76px;
  background-image: url("../img/souvenir.svg");
}

/*Блок с формой*/

.booking {
  text-align: center;
}

.booking b {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 25px;
}

.booking p {
  margin-bottom: 47px;
}

.button-search {
  display: inline-block;
  width: 568px;
  padding: 30px 15px;
}

.form-place-container {
  position: relative;
  padding-bottom: 473px;
}

.hotel-searching {
  position: absolute;
  top: 0;
  left: 316px;
  background-color: grey;
  width: 568px;
  align-self: center;
  padding: 55px;
  margin-bottom: 78px;
}

.form-container {
  display: flex;
  width: 458px;
  flex-grow: 1;
  margin-bottom: 55px;
}

.hotel-searching-item {
  display: flex;
}

.hotel-searching p {
  margin-bottom: 30px;
}

.button-submit {
  width: 458px;
  margin: 0;
  padding: 0;
  padding: 17px 15px;
}


/*Вторая страница, все нормально, кроме верхнего отступоп у hotel-name*/

.inner-page .main-navigation {
  margin-bottom: 303px;
  /*временно пока не добавлю блок с выбором*/
}

 /*Убрал отступы у абзацев*/
.hotel-type p,
.hotel-accepting p,
.hotel-rating p {
  margin: 0;
  padding: 0;
}

/*
.hotels-list-item * {
  outline: 1px solid red;
}
*/
/*
.hotels-list * {
  outline: 1px solid red;
}
*/
.hotels-list /*весь список*/{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotels-list-item /*li-шки*/{
  display: flex;
  margin: 0;
  padding: 30px 72px;
}

.hotels-list-item img {
  margin-right: 30px;
}

.hotel-name {
  padding: 0;
  margin-top: -5px;
  margin-bottom: 6px;
}

.hotel-name  a{
  display: block;
}

.about-hotel {
  display: block;
}

.booking-button{
  display: block;
}

.hotel-item-container {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  margin-right: auto;
}

.hotel-type {
  width: 110px;
  margin-right: 6px;
}

.hotel-type p {
  margin-bottom: 14px;
}

.hotel-accepting {
  width: 142px;
}

.hotel-accepting p {
  margin-bottom: 14px;
}

.about-hotel {
  padding: 3px 16px;
}

.booking-button {
  padding: 3px 16px;
}

.hotel-rating {
  position: relative;
  width: 110px;
  text-align: center;
  padding-top: 63px;
}

.hotel-rating p {
  padding: 3px;
}

.four-stars {
  content:"";
  position: absolute;
  top: 0;
  left: 22px;
  width: 88px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.three-stars {
  content:"";
  position:absolute;
  top: 0;
  left: 45px;
  width: 65px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.two-stars {
  content:"";
  position:absolute;
  top: 0;
  left: 70px;
  width: 40px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.hotels-list-item {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotels-list-item:first-child {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}


/*
.hotel-item-container {
  display: flex;
  flex-wrap: wrap;
}

.hotel-name {
  width: 779px;
  margin-bottom: 5px;
}

.hotel-type {
  width: 110px;
  margin-right: 6px;
}

.hotel-type p {
  margin-bottom: 12px;
}

.hotel-accepting {
  width: 142px;
  margin-right: 522px;
}

.hotel-accepting p {
  margin-bottom: 12px;
}

.about-hotel {
  padding: 3px 16px;
}

.booking-button {
  padding: 3px 16px;
}

.hotel-rating {
  position: relative;
  width: 110px;
  text-align: center;
  padding-top: 37px;
}

.hotel-rating p {
  padding: 3px;
}

.four-stars {
  content:"";
  position: absolute;
  top: -30px;
  left: 22px;
  width: 88px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.three-stars {
  content:"";
  position:absolute;
  top: -30px;
  left: 45px;
  width: 65px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.two-stars {
  content:"";
  position:absolute;
  top: -30px;
  left: 70px;
  width: 40px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.hotels-list-item {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotels-list-item:first-child {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}
*/
